<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.five.mapper.UsersMapper">

    <select id="selectUsersByUserId" resultType="com.team.five.dto.UsersDto">
        SELECT USER_ID, NAME, AGE, PASSWORD, JOIN_DATE
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

    <insert id="insertUser" parameterType="com.team.five.dto.UsersDto">
        INSERT INTO USERS (NAME, AGE, PASSWORD, JOIN_DATE)
            VALUES (#{name}, #{age}, #{password}, SYSTIMESTAMP)
    </insert>
</mapper>